#sub5{    
    &.sub7-signup{
        background: #f7f7f7;
        #signUp{
            width: 100%;
            .container{
                width: 100%;
                max-width: 640px;
                margin: 0 auto;
                .title{
                    width: 100%;
                    text-align: center;
                    border-bottom: 2px solid #333;
                    .title-txt{
                        &.title1{
                            font-size: 28px;
                            color: #5f0080;
                            padding: 60px 0 30px 0;
                        }
                        &.title2{
                            font-size: 20px;
                            color: #555;
                            padding: 0 0 30px 0;
                        }
                    }
                }
            }
        }
    }
} 