#header {
    width: 100%;
    height: auto;
    box-shadow: 0 3px 7px rgba(0,0,0, 0.07);
    position: relative;
    z-index: 3;
    user-select: none;
    .row {
        width: 100%;
        .container {
            width: 100%;
            max-width: 1050px;
            margin: 0 auto;
            .content {
                width: 100%;
            }
        }
        &.row1 {
            height: 36px;
            position: relative;
            z-index: 3;
            .container {
                height: 100%;
                .content {   
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    #aside {
                        font-size: 12px;
                        position: relative;
                        a {
                            color: #333;
                            img {
                                width: 8px;
                                margin-left: 3px;
                            }
                            &.on {
                                color: #5f0080;
                            }
                            &:hover{
                                color: #5f0080;
                            }
                        }
                        .signin-box{      
                            position: relative; 
                            display: inline-flex;
                            >a {
                                color: #333;
                                img {
                                    width: 8px;
                                    margin-left: 3px;
                                }
                                &.on {
                                    color: #5f0080;
                                }
                            }                   
                            .sign-tooltip{
                                position: absolute;
                                top: 25px;
                                left: 0;
                                width: 130px;
                                border: 1px solid #ccc;
                                background: #fff;
                                ul{
                                    width: 100%;
                                    padding: 10px;
                                    li{
                                        width: 100%;
                                        line-height: 170%;
                                        a{
                                            font-size: 12px;
                                            color: #333;
                                            transition: color 0.3s;
                                            &:hover{
                                                color: #5f0080;
                                            }
                                            img{
                                                width: 12px;
                                                height: 12px;
                                                margin: -2px 0 0 4px;
                                            }
                                        }
                                    }
                                }
                            }  
                        }
                        span{
                            color: #444;
                            font-size: 12px;
                            &:nth-child(3){
                                margin: 0 2px;
                                img{                    
                                    width: 12px;
                                    height: 12px;
                                }            
                            }
                            img{
                                margin: -2px 0px 0px 2px;
                                vertical-align: middle;
                            }
                            &.member-grade{  
                                display: inline-block;
                                min-width: 44px;                          
                                height: 16px;
                                margin-right: 6px;
                                padding: 0px 4px;
                                border-radius: 30px;
                                text-align: center;
                                line-height: 14px;
                                font-size: 10px;
                                color: #5f0080;
                                border: 1px solid #5f0080;
                                background-color: #fff;
                            }
                        }
                        i {
                            color: #ccc;
                            margin: 0 7px;
                            font-size: 11px;
                        }
                        .customer-center {
                            width: 130px;
                            position: absolute;
                            right: 0;
                            top: 22px;
                            background: #fff; 
                            border: 1px solid #ccc;
                            ul {
                                padding: 0 15px;
                                li {
                                    width: 100%;
                                    a {
                                        font-size: 12px;
                                        color: #333;
                                        line-height: 180%;
                                        &:hover{
                                            color: #5f0080;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.row2 {
            height: 64px;
            position: relative;
            z-index: 2;
            .container {
                height: 100%;
                .content { 
                    height: 100%;    
                    display: flex;               
                    .left {
                        width: 325px;
                        height: 100%; 
                        display: flex;
                        align-items: center;
                        a {
                            font-size: 18px;
                            color: #ccc;
                            font-weight: 500;
                            img {
                                width: auto;
                                cursor: default;
                            }
                            span {
                                margin-left: 20px;
                                color: #5f0080;
                            }
                            &:nth-of-type(2) {
                                img {
                                    vertical-align: top;
                                    transform: translate(2px, 1px);
                                }
                            }
                        }
                        i {
                            margin: 0 10px;
                            color: #ddd;
                        }
                    }
                    .center {
                        width: 400px;
                        height: 100%; 
                        position: relative;
                        display: flex;
                        align-items: center;
                        input {
                            position: relative;
                            z-index: 1;
                            width: 100%;
                            height: 48px;
                            border: 1px solid #5f0080;
                            color: #333;
                            font-size: 16px;
                            border-radius: 5px;
                            padding: 0 15px;
                            outline-offset: -1px;
                            outline: 0;
                        }
                        button {    
                            position: absolute;
                            z-index: 2;
                            top: 17px;
                            right: 10px;
                            width: 30px;   
                            height: 30px; 
                            border: 0;
                            background: none;                    
                            img {
                                width: auto;
                            }
                        }
                    }
                    .right {
                        width: 325px;
                        height: 100%; 
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        position: relative;
                        > span {
                            > a {
                                margin-left: 24px;
                                img {
                                    width: auto;
                                }
                            }
                        }
                        .map-address {
                            position: absolute;
                            top: 65px;
                            right: 0;
                            width: 267px;
                            border: 1px solid #ccc;
                            background: #fff;
                            &::before {
                                content: '';
                                position: absolute;
                                top: -11px;
                                left: 50%;
                                margin-left: -12px;
                                width: 18px;
                                height: 11px;
                                background: url(../../../public/images/intro/header/icon_try.svg) no-repeat 50% 50%;
                            }
                            ul {
                                padding: 13px 20px;
                                width: 100%;
                                li {
                                    width: 100%;
                                    padding: 7px 0;
                                    font-size: 14px;
                                    line-height: 140%;
                                    &:last-child {
                                        display: flex;
                                        justify-content: space-between;
                                    }
                                    strong {
                                        color: #5f0080;
                                        vertical-align: top;
                                    }
                                    a {
                                        display: flex;
                                        width: 35%;
                                        height: 35px;
                                        background: #fff;
                                        color: #5f0080;
                                        border: 1px solid #5f0080;
                                        font-size: 13px;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                    button {
                                        width: calc(65% - 5px);
                                        height: 35px;
                                        margin-left: 5px;
                                        background: #5f0080;
                                        color: #fff;
                                        border: 1px solid #5f0080;
                                        font-size: 13px;
                                        cursor: pointer;
                                        img {
                                            width: 21px;
                                            vertical-align: top;
                                        }
                                        &.address-update-btn{
                                            width: 100%;
                                            border: 1px solid #5f0080;
                                            color: #5f0080;
                                            background: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.row3 {
            height: 56px;
            position: relative;
            z-index: 1;
            &.fixed {
                position: fixed;
                top: 0;
                left: 0;
                box-shadow: 0 3px 7px rgba(0,0,0, 0.07);
                z-index: 3;
                background: #fff;
            }
            .container {
                height: 100%;  
                .content {
                    height: 100%;    
                    display: flex;               
                    .left {
                        width: 225px;
                        height: 100%; 
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        a {
                            font-size: 16px;
                            font-weight: 500;
                            color: #222;
                            img {
                                width: auto;
                            }
                            span {
                                margin-left: 10px;
                            }
                            &:hover {
                                color: #5f0080;
                            }
                            &.on {
                                color: #5f0080;
                            }
                        }
                    }
                    .center {
                        width: 600px;
                        height: 100%; 
                        nav {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            > a {
                                display: flex;
                                background: #fff;
                                color: #222;
                                font-size: 16px;
                                font-weight: 500;
                                align-items: center;
                                padding-bottom: 3px;
                                border-bottom: 1px solid transparent;
                                transition: all 0.3s;
                                &:hover {
                                    color: #5f0080;
                                    border-bottom: 1px solid #5f0080;
                                }
                                &.on {
                                    color: #5f0080;
                                }
                            }
                        }
                    }
                    .right {
                        width: 225px;
                        height: 100%; 
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        a {
                            display: inline-flex;
                            padding: 6px 16px;
                            border: 1px solid #ddd;
                            border-radius: 12.5px;
                            font-size: 13px;
                            letter-spacing: -0.5px;
                            em {
                                color: #5f0080;
                            }
                            span {
                                color: #999;
                                margin-left: 2px;
                            }
                        }
                    }
                }
            }

        }
    }
}